.item {
	background: $item-bg;
	border: 1px solid $item-border;
	padding: $space;
	margin-bottom: $space;	
	h2 {
		white-space: nowrap;
		max-width: $site-max-width;
		margin-bottom: 1rem;
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 3rem;
		transition: max-height 2s;
	}:hover{
		/*overflow: visible;*/
		word-wrap: break-word;
		white-space: normal;
		max-height: 50rem;
	}
}


.item__message-right {
    position: absolute;
    right: 16px;
}

.item__message {
	margin-top: 1rem;
	color: $item-text-color;
}
.item__status-message {
	color: $item-text-color;
	font-style: italic;
	text-align: center;
	margin: 0;
}